@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================================== */
/* Tailwind CSS / Custom styles for components */
.sortButton {
  @apply text-white flex items-center bg-medium-gray-2 px-[10px] py-3 rounded-md;
}

.cardsRaiting {
  @apply left-6 top-6 px-5 py-1 font-semibold rounded-[10px];
}

.Buttons {
  @apply text-center bg-accent w-full text-white py-2 font-semibold text-sm my-4 mr-4 rounded-lg;
}
/* =========================================== */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #111117;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
